.tableCustom {
    background-color: #513a2d;
    color: white;
}

.btnRemove {
    padding: 10px;
    background-color: #AB0007;
    border-radius: 0;
    color: white;
    font-weight: bold;
}

.btnRemove:hover {
    background-color: #7B0100;
    color: white;
}

.btnBuy {
    padding: 25px;
    background-color: #68BB59;
    border-radius: 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.btnBuy:hover {
    padding: 25px;
    background-color: #4C9A2A;
    border-radius: 0;
    color: white;
    font-weight: bold;
}